
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 body{
 background:url("https://static.vecteezy.com/system/resources/previews/002/597/461/non_2x/abstract-dark-hexagon-pattern-on-green-and-blue-neon-light-background-technology-style-modern-futuristic-geometric-shape-web-banner-design-you-can-use-for-cover-template-poster-flyer-print-ad-vector.jpg");
 background-size: 500px 500px;
 
  
 }
 .App{
  overflow: hidden;
  position: relative; /* Esto es clave */
  scroll-behavior: smooth;
 }
 .App::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 420%;
  top: 0;
left: 0;
z-index: -1;
background: #08041f33;
backdrop-filter: blur(5px);


 }
 *{
  margin: 0;
  padding: 0;
 }
 .Lista-de-puntos{
  position: fixed;
  display: flex;
  gap: 15px;
  justify-content: space-between;
 top: 10%;
 left: 10%;
  z-index: -2;
  width: 80%;
 
  

 }
 .Lista-de-puntos-2{
  position: fixed;
  display: flex;
  gap: 15px;
  justify-content: space-between;
 top: 80%;
 left: 20%;
  z-index: -2;
  width: 70%;
 
 }

 .Lista-de-puntos-2 li{
  content: "";

  width: 250px;
  height: 250px;
  filter: blur(155px);
  border-radius: 50%;
  background: #ffffff80;
  box-shadow: 0 0 15px #ffffff60, 0 0 25px #ffffff, 0 0 45px #ffffff ;
 
  animation: 3s levitacion-2 infinite alternate;
 }
 .Lista-de-puntos li{
content: "";

  width: 250px;
  height: 250px;
  filter: blur(155px);
  border-radius: 50%;
  background: #b3b3b3a4;
  box-shadow: 0 0 15px #a7a7a760, 0 0 25px #6e6e6e, 0 0 45px #707070 ;
 
  animation: 3s levitacion infinite alternate;

 }

 @keyframes levitacion {

  0%{
   transform: translateY(0);
  }
  100%{
    transform: translateX(40vh);
  }
  
 }
 @keyframes levitacion-2 {

  0%{
    transform: translateY(0);
   }
   100%{
     transform: translateX(-40vh);
   }

}