.seccion-conocimientos{
    background: #0f0d2a;
    width: 100%;
    display: inline-block;
    padding-bottom:10% ;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    border-bottom: 2px solid #35ffa7;
}
.seccion-conocimientos-titulo{
   padding-top: 3vh;
    text-align: center;
    font-size: 5vh;
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    justify-content: center;
}
.seccion-conocimientos-titulo h4{
    border-bottom: 2px solid #ffffff;
    border-radius: 0.1vh;
}


.seccion-conocimientos-imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.seccion-conocimientos-imagenes img{

    margin-left: 7vh;
    margin-right: 7vh;
    transition: 1s;  
    opacity: 0;
  
    transition: opacity 2s, transform 0.5s;
 /*    animation: imagenAnime 1s infinite alternate; */
}
.seccion-conocimientos-imagenes img:hover{
    width: 120px;
    height: 120px;
    transition: 0.2s;
    filter: drop-shadow(0 0 5px #ffffff);
}
  
  .seccion-conocimientos.active img {
    opacity: 1;
  
  }


  @media (max-width:920px){
    .seccion-conocimientos-titulo{
        font-size: 4vh;
    }
    .seccion-conocimientos-imagenes img{
        width: 100px;
        height: 100px;
        margin-left:2vh ;
        margin-right:2vh ;
    }
  }
  @media (max-width:576px){
    .seccion-conocimientos-titulo{
        font-size: 3vh;
    }
    .seccion-conocimientos-imagenes img{
        width: 50px;
        height: 50px;
        margin-left:1vh ;
        margin-right:2vh ;
    }
  }

/* @keyframes imagenAnime {
   0% {
    height: 100px;
    width: 100px;
    }
    100%{
        height: 105px;
        width: 105px;
    }
} */