@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
.seccion-proyectos{
   padding-bottom:5vh ;
    background: #080716;
    display: inline-block;
    width: 100%;
}
.seccion-proyectos-titulo{
    text-align: center;
    font-size: 6vh;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    justify-content: center;
    
}
.seccion-proyectos-titulo h4{
    border-bottom: 2px solid #ffffff;
}


.seccion-proyectos-tarjeta{
    margin-top: 10vh;
    text-align: center;
    background: #0f0d2a;
    transition: 0.2s ease;
    padding: 1vh 3vh 0vh 3vh;
 
    border: 3px solid #00ffc8;
    box-shadow: 0px 10px 0px 0px #019777, 0px 10px 5px 0px #ffffff ;
    border-radius: 5vh;
}
.seccion-proyectos-tarjeta h4{

    color: #ffffff;
    padding-bottom: 1vh;
    font-size: 2.5vh;
   text-shadow: 0 0 5px #ffffff;
 border-radius: 1vh 1vh 0 0;
 font-family: 'Exo 2', sans-serif;
}
.seccion-proyectos-caja{
    display: flex;
    justify-content: center;
    align-items: center;
   opacity: 0;
  transition: 1s ease;
  transform:rotateY(85deg);
  transform:rotateX(85deg);
}
.seccion-proyectos-caja.mostrar{
    opacity: 1;
    transition: 1s ease;
    transform:rotateY(0deg);
    transform:rotateX(0deg);
}
.seccion-proyectos-tarjeta img{
    border-radius:0 0 2vh 2vh;
  
    width: 100px;
    height: 200px;
   
   
}
.seccion-proyectos-tarjeta:hover{
   transform: translateY(-2vh);
   transition: 0.2s ease;
   box-shadow: 0px 10px 0px 0px #019777, 0px 3vh 3vh  #ffffff ;
    
}
@media (max-width:1300px){
    .seccion-proyectos-titulo h4{
     font-size: 4vh;
    }
    
 }
@media (max-width:920px){
    .seccion-proyectos-titulo{
     font-size: 4vh;
    }
    
 }
@media (max-width:576px){
   .seccion-proyectos-titulo{
    font-size: 4vh;
   }
   .seccion-proyectos-tarjeta h4{
    font-size: 2vh;
   }
   .seccion-proyectos-tarjeta img{
    width: 50px;
    height: 100px;
   }
}