.seccion-conocimientos{
    z-index: 100;
    width: 100%;
    display: inline-block;
    padding-bottom:10% ;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;

}
.seccion-conocimientos-titulo{
   padding-top: 3vh;
    text-align: center;
    font-size: 5vh;
    font-family: "Alumni Sans SC", sans-serif;
    display: flex;
    justify-content: center;
}
.seccion-conocimientos-titulo h4{
    border-bottom: 2px solid #ffffff;
    border-radius: 0.1vh;
}


.seccion-conocimientos-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: 2% auto;
    max-width: 1200px;
}

.seccion-conocimientos-imagenes > div {
    flex: 0 1 calc(25% - 20px); /* 4 columnas */
    box-sizing: border-box;
}
.seccion-conocimientos-imagenes img{

    transition: 0.2s;  
    opacity: 1;
    scale: 1;
    background: #38385f54;
    padding: 10px;
    border-radius: 10px;
  
 /*    animation: imagenAnime 1s infinite alternate; */
}

.seccion-conocimientos-imagenes img:hover{
    scale: 1.2;
    transition: 0.2s;
    filter: drop-shadow(0 0 5px #ffffff);
}
  
 


  @media (max-width:920px){
    .seccion-conocimientos-titulo{
        font-size: 4vh;
    }
    .seccion-conocimientos-imagenes img{
        width: 100px;
        height: 100px;
        margin-left:2vh ;
        margin-right:2vh ;
    }
  }
  @media (max-width:576px){
    .seccion-conocimientos-titulo{
        font-size: 3vh;
    }
    .seccion-conocimientos-imagenes img{
        width: 50px;
        height: 50px;
        margin-left:1vh ;
        margin-right:2vh ;
    }
  }

/* @keyframes imagenAnime {
   0% {
    height: 100px;
    width: 100px;
    }
    100%{
        height: 105px;
        width: 105px;
    }
} */